<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.fastreding">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".View.ResultExercise"></activity>
        <activity android:name=".View.exercise.ReadingSpeed" />
        <activity android:name=".View.exercise.Suggestions" />
        <activity android:name=".View.exercise.DifferentWords" />
        <activity android:name=".View.exercise.EvenNumbers" />
        <activity android:name=".View.exercise.SearchLetter" />
        <activity android:name=".View.exercise.Numerical" />
        <activity android:name=".View.exercise.TableSchulte" />
        <activity
            android:name=".View.exercise.WordPair"
            android:screenOrientation="landscape"
            android:noHistory="true"/>
        <activity
            android:name=".View.Training"
            android:label="@string/title_activity_traning"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".View.Information" />
        <activity android:name=".View.Profile" />
        <activity android:name=".View.Registration" />
        <activity android:name=".View.Splash" />
        <activity android:name=".View.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>